.header-wrapper {
  width: 100%;
  height: 70px;
  background-color: aqua;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-logo {
  background-color: darkslategray;
}

.header-page-links {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header-page-links div {
  padding-left: 10px;
  padding-right: 10px;
}
