html {
  font-size: $font-size;
  font-family: $font-family;
  //background: $background-color;
  //color: $font-color;
  //max-width: $page-width;
  //line-height: 1.4;
}

body {
  margin: 0;
  //width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //align-self: center;
  //height: 100vh;
}

h1 {
  text-align: center;
  max-width: 90vw;
}



.footer-wrapper {
  background-color: aquamarine;
  width: 100%;
  height: 70px;
}

.content-wrapper {
  flex: 1 0 auto;
  width: 100%;
  min-height: calc(100vh - 140px) ;
  background-color: chocolate;
}


a:link {
  color: #497DDD;
  border-bottom: 1px dashed;
}
a:visited {
  color: #EF7D55;
}
a:hover {
  color: #154088;
  border-bottom: .07em solid;
  cursor: default;
}
a:active {
  color: #497DDD;
  border-bottom: 1px dashed;
}
